<div class="container">

    <h1>II FORUM EKONOMICZNE</h1>

    <div class="row" ng-hide="$ctrl.nick">
        <div class="col-lg-12">
            <form class="form-horizontal" name="messageForm" ng-submit="$ctrl.setNick(nick);" role="form">
                <input class="form-control pull-left" name="nick" type="text" ng-model="nick"
                       placeholder="Type Your Nick"/>
                <button class="btn btn-default pull-right" type="submit">Enter</button>
            </form>
        </div>
    </div>

    <div class="row" ng-show="$ctrl.nick">
        <div class="col-md-12">
            <form class="form-horizontal" name="messageForm" ng-submit="$ctrl.sentMessage();" role="form">
                <input class="form-control pull-left" name="message" type="text" ng-model="$ctrl.message"/>
                <button class="btn btn-default pull-right" type="submit">Sent</button>
            </form>
        </div>
    </div>

    <div class="row" ng-show="$ctrl.nick">
        <div class="col-lg-12">
            <h4>Users Online: {{ $ctrl.scope.online }}</h4>
            <div class="chatWindow" scroll-bottom="$ctrl.scope.messages">
                <p ng-repeat="message in $ctrl.scope.messages">
                    <span class="nick">{{ message.time | date : "dd/MM/yy HH:mm:ss" }} : {{ message.nick }} :</span>
                    <span>{{ message.message }}</span>
                </p>
            </div>
        </div>
    </div>

</div>
